{
    "google_client_id": "YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com",
    "allowed_emails": [
        "admin@example.com"
    ],
    "users": [
        {
            "username": "admin",
            "password_hash": "8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918"
        }
    ]
}
